@import "tailwindcss";

@theme {
  --color-primary: #1919e6;
  --color-background-dark: #111121;

  --font-display: 'Inter', system-ui, -apple-system, sans-serif;

  --radius-DEFAULT: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}
