- name: Deploy Frontend (DEBUG)
  uses: appleboy/ssh-action@v1.0.0
  with:
    host: ${{ secrets.SSH_HOST }}
    username: ${{ secrets.SSH_USER }}
    key: ${{ secrets.SSH_KEY }}
    port: 22
    debug: true
    script: |
      echo "=== ENTRE AL SERVIDOR ==="
      whoami
      hostname
      pwd
